<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Form auth demo">
    <meta name="author" content="Yoanes Berchmans Satrya Pratama">
    <meta name="_csrf" th:content="${_csrf.token}" />

    <title>My Portal - Force Change Password</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="~{fragments/Sidebar}"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:replace="~{fragments/Topbar}"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Password & Security</h1>
                    <p class="mb-4">
                        Please change your password to continue using the application.
                        <br>
                        <strong>Note:</strong> Your password must be at least 8 characters long and contain at least one
                        uppercase letter, one lowercase letter, one number, and one special character.
                    </p>
                    <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
                        <strong>Error:</strong> <span th:text="${errorMessage}"></span>
                    </div>
                    <div th:if="${successMessage != null}" class="alert alert-success" role="alert">
                        <strong>Success:</strong> <span th:text="${successMessage}"></span>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
                        </div>
                        <div class="card-body">
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <form class="user" th:action="@{/force-change-password}" th:object="${changePasswordObj}" method="POST">
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="password" class="form-control form-control-user" th:field="*{password}" 
                                                    pattern="[\x20-\x7E]{8,20}" placeholder="Password" required>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="password" class="form-control form-control-user" th:field="*{confirmPassword}" 
                                                    pattern="[\x20-\x7E]{8,20}" placeholder="Repeat Password" required>
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-user btn-block" value="Change Password">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="~{fragments/Footer :: footer}"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:replace="~{fragments/LogoutModal}"></div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{js/demo/chart-area-demo.js}"></script>
    <script th:src="@{js/demo/chart-pie-demo.js}"></script>

</body>

</html>